DEBUG=1
SECRET_KEY=super-secret-key-for-super-secret-application
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_LOG_LEVEL=DEBUG

# Database Configuration
# For development with SQLite (default)
#DATABASE_URL=sqlite:///db.sqlite3

# For Docker with PostgreSQL
DATABASE_URL=postgres://graph_user:graph_password@db:5432/graph_api_dev

# Celery Configuration (Using Docker)
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# For local development (local without Docker)
# CELERY_BROKER_URL=redis://localhost:6379/0
# CELERY_RESULT_BACKEND=redis://localhost:6379/0
# CELERY_BROKER_URL="redis://127.0.0.1:6379/0"
# CELERY_RESULT_BACKEND=rpc://
# CELERY_TASK_ALWAYS_EAGER=0

